.container{
  width: 100%;
  min-height: 100vh;
  padding: 0%;
  background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(ghi.png);
  background-position: top;
  background-size: cover;
}